  <html> 
      <head>
          <meta charset="UTF-8">
          <title>Mensaje super importante</title>
        </head>  
        <body>
            <%- include('includes/head.ejs') %>

            <h1>Introduce el mensaje super importante para el administrador</h1>  
            <form action="enviar" method="POST">
                <input type="text" name="mensaje">
                <input type="submit" value="Enviar mensaje"></form> 

                <% if (arreglo.length > 0) { %>
                    <h1> Los mensajes ya enviados son:   </h1>
                    <ul>
                        <% for (let elemento of arreglo) { %>
                            <li><%= elemento %></li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <h1>No hay mensajess aún </h1>
                <% } %> 

  
             </body> 
             </html>