<html> 
    <head>
        <meta charset="UTF-8">
        <title> VisitanTec  </title>
      </head>  
      <body>
          <%- include('includes/head.ejs') %>

          <h1>Aquí podrás registrarTec como visitanTec de la pagina!!</h1>  
          <form action="registrar" method="POST">
              <input type="text" name="nombre">
              <input type="submit" value="RegistrarTec"></form> 

              <% if (arreglo.length > 0) { %>
                  <h1> Los visitantes registados son:   </h1>
                  <ul>
                      <% for (let elemento of arreglo) { %>
                          <li><%= elemento %></li>
                      <% } %>
                  </ul>
              <% } else { %>
                  <h1>No hay visitantes... ánimate y se el primero! </h1>
              <% } %> 


           </body> 
           </html>