body{
    font-family: Arial, Helvetica;
    padding: 0;
    margin: 0;
}
 
form{
    padding-bottom: 20px;
}

#main-container{
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(216, 255, 212);
}

input[type="text"]{
    padding: 10px;
    width: 350px;
}

input[type="button"]{
    color: rgb(177, 255, 210);
    background-color: rgba(18, 69, 163, 255);
    padding: 10px;
    border: 0;
}

#peliculas div{
    padding: 10px 0px;
    background-color: rgb(170, 248, 161);
    border-bottom: solid 1px #ccc;
}

