@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    background-color: #bbf1fa;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h2 {
    color:#663f3f;
    margin-top: 1em;
    padding-top: 1em;
}

h1{
    color : #663f3f;
    
}



pre {
  padding: 1em;
  border-left: 2px solid #69c;
}



header {
    background-color: #ec4646;
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    
  }

footer {
    background-color : #51c2d5;
    color: white;
    
}

  header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }

  header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
  }
  
  header a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
a:link {
    color : palevioletred;
}

   a:hover {
    color: indianred;
  }


