<!DOCTYPE html> 

<html lang = "es"> 
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Laboratorio 5</title>
      <meta name="description" content="Este es el laboratorio 5 ">
     <link rel="stylesheet" href="css/main.css">

</head>
    
<body>

    <header>
      <%- include('includes/head.ejs') %>

    <h1> Laboratorio 5. </h1>
    <h1> Preguntas del laboratorio </h1>
    
    </header>
    
    <h3> ¿Por qué es una buena práctica usar JavaScript para checar que sean válidos los inputs de las formas antes de enviar los datos al servidor?     </h3>
    <p>  Para cuidar la integridad de los datos, brindar una mayor seguridad a nuestro sitio web y brindar una buena experiencia de usuario </p>
    <h3> ¿Cómo puedes saltarte la seguridad de validaciones hechas con JavaScript?
  </h3>
    <p> Se puede simplemente desactivar javascript de manera intencional mediante funciones avanzadas  </p>
    
    <h3> Si te puedes saltar la seguridad de las validaciones de JavaScript, entonces ¿por qué la primera pregunta dice que es una buena práctica?  </h3>
    <p> Porque la mayor parte de usuarios se verá beneficiado por un proceso de validación de inputs, ya que se le brindará ayuda dinámicamente y podrá utilizar correctamente el sitio web.  </p>
    
    </body>    

    
</html>